$skewY1: -.3;
$skewX1: .3;
$scaleX1: .98;
$scaleY1: .98;

.para {
  color: white;
  transform: matrix($scaleX1, $skewY1, $skewX1, $scaleY1, 0, 0);
  font-family: 'SuisseMedium', serif;
  font-family: 'SuisseBold', serif;
}
