.headline-wrapper {
  position: relative;
  top: 8rem;
}

.headline {
  color: #ffd403;
  font-family:'Fraktur', 'UnifrakturCook', cursive;
  font-size: 5em;
  text-shadow: -5px 5px 12px rgba(0,0,0,0.4);
  margin: 0;
}

.headline--guide {
  visibility: hidden;

  &::after {
    content: 'A';
  }
}

.headline--top,
.headline--bottom {
  position: absolute;
  width: 100%;
  height: 56%;
  left: 0;
  z-index: 40;
  overflow-x: hidden;
  overflow-y: hidden;
  will-change: transform;
}

.headline--top {
  top: -4%;
  // transform: matrix(1, 0, 0, 1, 0, 0);
}

.headline--bottom {
  top: 51.85%;
  span {
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
