$bg: #000;
$primary: #ffd403;

// z index layers
$global1: 1;
$global2: 2;
$global3: 3;
$global-top: 4;

$fraktur: 'Fraktur', 'UnifrakturCook', sans-serif;
$sans-serif: 'SuisseBold', 'Open Sans', sans-serif;