@font-face {
  font-family: 'SuisseMedium';
  src: url('../fonts/SuisseIntl-Medium-WebS.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'SuisseBold';
  src: url('../fonts/SuisseIntl-SemiBold-WebS.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
  font-family: 'Fraktur';
  src: url('../fonts/Fraktur.woff2') format('woff2'); /* Super Modern Browsers */
}